@charset "utf-8"
    
keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

html, topbar {
  width: 100%;
  height:100%;
}

a {
    text-decoration: none;
}

.topbar{
    background: linear-gradient(-45deg, #E4E7E1, #DCE3D6, #FFF6F6, #FBF9FC);
    background-size: 400% 400%;
    animation: gradient
        15s ease infinite;
}

html, topbar-graphics {
  width: 100%;
  height:100%;
}

.topbar-graphics {
    background: linear-gradient(-45deg, #FFE5D7, #FFFEFD, #F6EBEB, #FFE1DC);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

html, topbar-ui {
  width: 100%;
  height:100%;
}

.topbar-ui{
    background: linear-gradient(-45deg, #F2F5FF, #E6ECFF, #FBF9FC, #FFF6F6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

html, topbar-ht6 {
  width: 100%;
  height:100%;
}

.topbar-ht6{
    background: linear-gradient(-45deg, #EFF8F7, #84D7D3, #D6FFFD, #FFF6F6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer{
    display: flex;
    flex-direction: row;
    margin: 60px 10px 0px 0px;
    flex-grow: 1;
    justify-content: space-between;

}
.icons{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    justify-content: flex-start;
}

.icon-spacing {
    padding-right: 1rem;
}

.icon-text{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.icon-text p1{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    color: dimgray;
}

html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 5rem;
    background-color: #FFFEF9;

}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFEF9;
    padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 6px 150px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  font-family: 'Space Mono', monospace;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.about {
    display: flex;
    margin: auto;
    font-size: 28px; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 410px;
    margin-top: 50px;
}

.about h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}

.about p{
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    margin: 0px;
    letter-spacing: -1px;
    line-height: 24px;
    color: black;
}

.halfsplit{
    display: flex;
    flex-direction: row;
    flex: 3;
    margin-top: 50px;

}
.halfsplit1{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    width: 70%;
    height: auto;
}

.halfsplit2{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    flex: 1;

}




.home {
    display: flex;
    margin: auto;
    font-size: 28px; 
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 476px;
    margin-top: 300px;
}

.home h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}

.home p{
    font-family: 'Space Mono', monospace;
    font-size: 22px;
    margin: 0px;
    letter-spacing: -1px;
    line-height: 24px;
    color: black;
}


.projects{
    padding: 300px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.prj-img {
    max-width: 100%;
}

.projects-imgs{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-grow: 1.;
    padding-top: 40px;
    width: auto;
    height: 100%;
    justify-content: center;

}

.projects-imgs:hover {
    transform: scale(1.05); 
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    height: auto;
    padding-top: 60px;
    padding-left: 150px;
}

.topbar-ui{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    height: auto;
    padding-top: 60px;
    padding-left: 150px;
}

.topbar-ht6{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    height: auto;
    padding-top: 60px;
    padding-left: 150px;
}


.topbar-graphics{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 3;
    height: auto;
    padding-top: 60px;
    padding-left: 150px;
}


.logo-placement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.herotext{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 230px;
}

.herotext subtitle{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: gray;
    margin-top: 25px;
}

.herotext h{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: black;
}

.herotext p{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    color: black;
    width: 350px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 120px;
}



.heroimg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 120px;
    top: 120px;
}

.heroimg1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 5;
    width: 80%;
    height: auto;
}

.heroimg2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 5;
    width: 80%;
    height: auto;
}


.text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 14.5rem;
}

.middle{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
    margin-top: 30px;
}
.middle h{
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: black;
}

.middle h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #B6B8B4;
    margin-bottom: 0;
}

.middle h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #B6B8B4;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
}

.middle p{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: black;
    margin: 0;
    line-height: 24px;
    margin-bottom: 20px;
}

.description{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between
}

.type{
    display: flex;
    flex-direction: column;
}
.role{
    display: flex;
    flex-direction: column;
}
.timeline{
    display: flex;
    flex-direction: column;
}
.team{
    display: flex;
    flex-direction: column;
}
.main-text{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.number{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    margin: 0;

}

.number-new{
    display: flex;
    flex-direction: column;
    flex: 0.06;
    margin: 0;
}

.left-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-text-new{
    display: flex;
    flex-direction: column;
    flex: 0.8;
}
.right-text{
    display: flex;
    flex-direction: column;
    flex: 2.3;
}


.video1{
    align-content: center;
    width: 100%;
    height: auto;
}

.middle p1{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: #7C8572;
    margin: 0;
}

.right-text li {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: black;
    margin: 0;
    line-height: 24px;
    margin-bottom: 10px;
}


.problem-box {
    display: flex;
  border-radius: 25px;
  border: 3px solid #BDC1B7;
  padding: auto;
  width: 100%;
  height: auto;
    margin-top: 35px;
}

.problem-box p{
    margin: auto;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: #BDC1B7;
    line-height: 24px;
    text-align: center;
}


.first{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

.second{
    display: flex;
    flex-direction: column;
    flex: 1;
        text-align: center;
    margin-right: 35px;
    margin-left: 35px;

}
.third{
    display: flex;
    flex-direction: column;
    flex: 1;
        text-align: center;
    margin-right: 25px;
    margin-left: 25px;

}


.maxwidth{
    display: flex;
    flex-direction: row;
}

.centeritem{
    display: flex;
    flex-direction: row;
    margin: auto;
}


.button{
    height:auto;
    display: flex;
    justify-content: center;
    background-color: #A3B18A;
    border-radius: 10px;
    margin:auto;
    width: 30%;
}

.button p{
    font-family: 'DM Sans', sans-serif;
    padding: 0px;
    margin: 10px;
    color: white;
}


.button:hover{
    background-color: #FFF6F6;
    transition: all ease 0.5s;
}

.button P:hover{
    transition: all ease 0.5s;
    color: #A3B18A;
}

.main-text1{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.main-text2{
    display: flex;
    flex-direction: row;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px 4px 4px;

}

.column {
  flex: 30%;
  max-width: 100%;
  padding: 4px;4px 4px 4px;
}

.video1{
    align-content: center;
    width: 100%;
    height: auto;
}

.reels{
    flex-direction: column;
    display: flex;
    width: 40%;
    margin-left: 60px;

}

.igvideo{
    width: 300px;
    margin-left: 30%;
}


@media(max-width:1200px){
    .herotext{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 230px;
    z-index: 2;
}
    
    .heroimg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 120px;
        z-index: 1;
        opacity: 0.2;
        
}
    
    .heroimg1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 150px;
    top: 150px;
    z-index: 1;
    width: 100%;
    height: auto;
        opacity: 0.2;
}

.heroimg2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 100px;
    top: 150px;;
    z-index: 1;
    opacity: 0.2;
    width: 80%;
    height: auto;
}
    
    .description{
    flex-direction: column;
}

    .logo-placement{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
        z-index: 3;
}
    
.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFEF9;
}

.sidenav a {
  padding: 8px 8px 6px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  font-family: 'Space Mono', monospace;
}
    .home {
    margin-left: 205px;
}

    .main-text{
        flex-direction: column;
    }
    .left-text{
    flex-direction: row;
    }

    .left-text-new{
    flex-direction: row;
    }

.problem-box p{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
    .button{
    width: 100%;
}
    
    
.first{
    border-radius: 25px;
  border: 3px solid #BDC1B7;
  width: 85%;
    padding: 5%;
    margin-bottom: 30px;
}


.second{
    border-radius: 25px;
  border: 3px solid #BDC1B7;
  width: 85%;
    padding: 5%;
    margin-bottom: 30px;


}
    
.third{
    border-radius: 25px;
  border: 3px solid #BDC1B7;
      width: 85%;

    padding: 5%;
    display: flex;

}

    .number{

    margin-bottom: 10px;

}

.number-new{

    margin-bottom: 10px;}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 4px 4px 4px;
    display: block     
}
    .main-text2{
    display: flex;
    flex-direction: column;
}
    .reels{
    flex-direction: column;
    display: flex;
    width: 40%;
    margin-left: 30%;

}
.middle{
    margin-left: 100px;
    margin-right: 100px;
}
    
    
    .topbar{

    padding-left: 100px;
}

.topbar-ui{
   
    padding-left: 100px;
}

.topbar-ht6{
    
    padding-left: 100px;
}


.topbar-graphics{

    padding-left: 100px;
}
    
.halfsplit{
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-top: 50px;
    

}
.halfsplit1{
    display: flex;
    flex-direction: column;
    flex: 0.4;
    width: 60%;
    justify-content: center;
    height: auto;
    
}

.halfsplit2{
    display: flex;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 50px;
    flex-direction: column;
    flex: 1;
    

}
    
    .about {
    display: flex;
    margin: auto;
    font-size: 28px; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 175px;
    margin-top: 50px;
}




}


@media(max-width:570px){
    
.sidenav {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 0%;
    position: fixed;
    left: 0;
    background-color: #FFFEF9;
}

.sidenav a {
  padding: 8px 8px 6px 15px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  font-family: 'Space Mono', monospace;
}
    
    .home {
    margin-left: 0px;
        padding: 0% 10% 0% 10%;
        margin-top: 175px;

}
    .logo{
        width: 65px;
        padding: 0% 10% 0% 10%;
    }
    
    .home h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}
    .home p{
        font-size: 20px;
    }
    
    .navbuttons{
        margin-top: 30px;
        margin-left: 15px;
    }
    
        .about {
    display: flex;
    margin: auto;
    font-size: 28px; 
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
            margin-right: 10%;
    margin-top: 150px;
}
    .about h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}
    
    .about p{
    font-size: 18px;
    margin: 0px;
    letter-spacing: 1px;
    color: black;
}

}
    